.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'iconfont';
  /* project id 1552291 */
  src: url('//at.alicdn.com/t/font_1552291_geg3ip5k1xb.eot');
  src: url('//at.alicdn.com/t/font_1552291_geg3ip5k1xb.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1552291_geg3ip5k1xb.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1552291_geg3ip5k1xb.woff') format('woff'),
    url('//at.alicdn.com/t/font_1552291_geg3ip5k1xb.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1552291_geg3ip5k1xb.svg#iconfont') format('svg');
}